
<div class="row">
    <div class="form-group">
        <label for='input_1'>Input 1
            <span class="text-danger">*</span>
        </label>
        <input
                type='text'
                name='name'
                id='input_1'
                class="form-control required"
                required onkeyup="validate_input_fields()">
        <div>
            <span class="text-danger">*</span> - Indicates required field
        </div>
    </div>
</div>
